---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Contact";
---
<BaseLayout title={pageTitle}>
  <h2>Contact Me</h2>
  <p>You can reach me via email:</p>
  <p class="contact-email">oberdoerfer.andreas@gmail.com</p>
</BaseLayout> 