---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home";
---
<BaseLayout title={pageTitle}>
	<h1>Andreas Oberdörfer</h1>
	<!-- <p>Welcome to my very clean website!</p> -->

	<div class="story">
		<h2>A Funny Story</h2>
		<p>
			Why don't scientists trust atoms?<br/>
			Because they make up everything!
		</p>
		<p>
			Okay, okay, maybe that's a bit <em>elementary</em>. How about this:
		</p>
		<p>
			Andreas was debugging a particularly tricky piece of code late one night. Frustrated, he muttered, "Why won't this work? It's like talking to a brick wall!" Suddenly, his computer screen flickered, and text appeared: "Actually, brick walls are excellent listeners. They just have a terrible response time. And unlike this code, they rarely crash." Andreas stared, blinked, then slowly reached for the coffee pot. It was going to be a <em>very</em> long night.
		</p>
	</div>
</BaseLayout>
